<div class="bio-section">
    <div class="bio-photo">
      <img src="assets/profile.jpg" alt="Profile Photo">
    </div>
    <div class="bio-text">
      <h1>{{ site.name }}</h1>
      <p>
      {{ site.occupation }}<br>
      Statistical Artificial Intelligence Lab<br>
      {{ site.employer }}<br>
  
      <a href="mailto:cw.kang@kaist.ac.kr">cw.kang@kaist.ac.kr</a><br>
  
      [<a href="assets/CV.pdf">CV</a>] 
      [<a href="https://scholar.google.com/citations?user=MYiAPWYAAAAJ">Google Scholar</a>] 
      [<a href="https://github.com/cheongwoong">GitHub</a>] 
      [<a href="https://www.linkedin.com/in/cheongwoong-kang/">LinkedIn</a>]
      </p>
    </div>
  </div>
  